<!DOCTYPE html>
<html>
  <head>
    <title>SplitPay</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="Stylesheet" href="css/home.css" />
    <link rel="icon" type="image" href="images/icon.jpg" />
    <link rel="stylesheet" href="css/payments.css" />
    <link rel="stylesheet" href="css/pay.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/bc6f27e589.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".hiddenToggle").slideToggle("fast");
        $(".fa-user-plus").hover(function () {
          $(".fa-user-plus").css("cursor", "pointer");
        });
        $(".fa-user-plus").click(function () {
          $(".hiddenToggle").slideToggle("slow");
        });
      });
    </script>
    <style>
      .b-head {
        display: flex;
        align-items: center;
      }
      body {
        display: flex;
      }
      .sidebar {
        background-color: #5c07db;
        min-height: 92vh;
        flex: 0.15;
        padding-top: 60px;
      }
      .m-container {
        flex: 0.85;
      }
      .paymentOption > p {
        color: white;
      }
      .paymentOption {
        border: 2px solid white;
        padding: 5px;
        border-radius: 5px;
        margin: 20px 10px;
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <a href="/home">
        <div class="paymentOption">
          <p>Home</p>
        </div>
      </a>
      <a href="/getSplits">
        <div class="paymentOption">
          <p>Splits</p>
        </div>
      </a>
      <a href="/chat">
        <div class="paymentOption">
          <p>Chat</p>
        </div>
      </a>
      <a href="/userSettings">
        <div class="paymentOption">
          <p>Settings</p>
        </div>
      </a>
    </div>
    <div class="m-container">
      <div class="b-head">
        <a href="/home"><i class="fas fa-arrow-left"></i></a><br />
        <h3>Now Paying</h3>
      </div>
      <div class="paymentForm">
        <form
          onsubmit="return createPayment()"
          action="/home"
          id="paymentDetailsForm"
        >
          <label for="paymentAmt"> <strong> Amount </strong> </label><br />
          <input
            class="amtInput"
            id="paymentAmt"
            type="number"
            required
          /><br /><br />
          <label for="paymentNote"><strong> Note </strong></label><br />
          <input class="amtInput" id="paymentNote" type="text" required />
          <div class="splitSection">
            <p id="splitOption">Splitting this payment</p>
            <i style="margin-right: 10px" class="fas fa-user-plus"></i>
          </div>
          <div class="hiddenToggle">
            <label for="numberAdd"><strong> Enter Number </strong></label>
            <div>
              <input
                type="tel"
                placeholder="Split with"
                id="numberAdd"
                style="width: 80%"
              />
              <span
                style="font-size: 20px; cursor: pointer; margin-left: 10px"
                onclick="addUser()"
                >Add</span
              >
            </div>
            <p id="numDisplay"></p>
          </div>
          <center>
            <input
              value="Pay"
              type="submit"
              style="width: 50%; margin-top: 10px; cursor: pointer"
            />
          </center>
        </form>
      </div>
    </div>

    <script>
      var splitUsers = [];
      function addUser() {
        document
          .getElementById("paymentDetailsForm")
          .addEventListener("submit", (e) => {
            e.preventDefault();
          });
        let userNum = document.getElementById("numberAdd").value;
        if (userNum.length != 10) {
          alert("Invalid Phone Number Format.");
          return false;
        }
        splitUsers.push(userNum);
        document.getElementById("numDisplay").innerHTML = "";
        userNum.value = 0;
        splitUsers.forEach((element) => {
          document.getElementById("numDisplay").innerHTML +=
            splitUsers.indexOf(element) + 1 + ". " + element + "<br>";
        });
      }

      let tokenId = sessionStorage.getItem("accessToken");
      console.log("Token " + tokenId);

      document
        .getElementById("paymentDetailsForm")
        .addEventListener("submit", (e) => {
          e.preventDefault();
        });
      function createPayment() {
        document
          .getElementById("paymentDetailsForm")
          .addEventListener("submit", (e) => {
            e.preventDefault();
          });
        let statusCheck = "true";
        let payAmt = document.getElementById("paymentAmt").value;
        let payNote = document.getElementById("paymentNote").value;

        if (payAmt <= 1) {
          alert("Amount Must be greater than 0");
          return false;
        }

        if (splitUsers.length == 0) {
          alert("You need to add another user to split the amount with.");
          return false;
        }

        fetch("/makeSplit", {
          // mode:'no-cors',
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "User-Agent": "PostmanRuntime/7.28.0",
            Authorization: "Token " + tokenId,
          },
          body: JSON.stringify({
            amount: parseInt(payAmt),
            reason: payNote,
            payee: splitUsers,
            length: splitUsers.length + 1,
          }),
        })
          .then((data) => {
            console.log(data);
            window.location.href = "/home";
          })
          .catch((error) => {
            console.log("error" + error);
          });
      }
    </script>
  </body>
</html>
