<!DOCTYPE html>
<html>
  <head>
    <title>SplitPay</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="Stylesheet" href="css/login.css" />
    <link rel="icon" type="image" href="images/icon.jpg" />
    <link rel="stylesheet" href="css/payments.css" />
    <link rel="stylesheet" href="css/pay.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/bc6f27e589.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .m-container-r {
        /* background-image: url(images/loginbg.jpeg); */
        /* background-repeat: no-repeat; */
        /* background-size: cover; */
        height: 92vh;
        margin-top: 5vh;
        border-radius: 30px;
        box-shadow: 5px 10px 18px #888888;
      }
      form {
        width: 80%;
      }
      .userPassword {
        width: 48%;
      }
      .formGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .formGroup > input {
        width: 50% !important;
        height: 35px;
      }
      .formGroup > label {
        width: 50% !important;
        font-size: 17px;
      }
      .login-button {
        margin: 10px auto;
        width: 65%;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div class="m-container-r">
      <div class="b-body">
        <h3>Welcome!</h3>
        <h4>Let's get you started.</h4>
        <h3 id="errorMessage" style="color: red; display: none">
          It looks like this email is taken.
        </h3>
        <h3 id="errorMessage-1" style="display: none">
          Try <a href="login.html">Logging In</a>
        </h3>
        <form
          action="/createUser"
          onsubmit="return returnVal()"
          method="POST"
          id="form"
        >
          <div class="formGroup">
            <label for="u-name">Your Full Name</label><br />
            <input name="uName" required placeholder="John Doe" type="text" />
          </div>
          <br />
          <div class="formGroup">
            <label for="u-num">Your Phone Number</label><br />
            <input
              name="uNum"
              required
              placeholder="XXXXX XXXXX"
              type="tel"
              pattern="[0-9]{10}"
            />
          </div>
          <br />
          <div class="formGroup">
            <label for="uEmail">Your Email</label><br />
            <input
              name="uEmail"
              required
              placeholder="xyz@xyz.com"
              type="email"
            />
          </div>
          <br />
          <div class="formGroup">
            <label for="passwordOne">Password</label><br />
            <input
              class="userPassword"
              id="passwordOne"
              name="uPass"
              required
              placeholder="Password"
              type="password"
            />
          </div>
          <br />
          <div class="formGroup">
            <label for="passwordConfirm">Confirm Password</label><br />
            <input
              class="userPassword"
              name="u-pass-1"
              id="passwordConfirm"
              required
              placeholder="Confirm Password"
              type="password"
            />
          </div>
          <br />
          <p id="passMessage"></p>
          <center>
            <input type="submit" value="Register" class="login-button" />
          </center>
        </form>
        <a href="/login">Already a User? Log In</a>
      </div>
    </div>
    <script>
      let passCount = 0;
      var dispimg = function (event) {
        var disp = document.getElementById("img-af");
        var out = event.target.files[0];
        disp.style.display = "block";
        disp.src = URL.createObjectURL(out);
      };
      document.getElementById("passwordOne").addEventListener("keyup", () => {
        let passVal = document.getElementById("passwordOne").value;
        // if(!/[a-z]/.test(passVal)){
        //     document.getElementById('passMessage').innerHTML = "Password Needs To be 8 Characters Long!";
        //     return false;
        // }
        if (passVal.length < 8) {
          document.getElementById("passMessage").innerHTML =
            "Password Needs To be 8 Characters Long!";
          return false;
        }
        if (!/[A-Z]/.test(passVal)) {
          document.getElementById("passMessage").innerHTML =
            "Password Needs UpperCase Letters";
          return false;
        }
        if (!/[0-9]/.test(passVal)) {
          document.getElementById("passMessage").innerHTML =
            "Password Needs Numbers";
          return false;
        }
        document.getElementById("passMessage").innerHTML = "";
        count = 1;
      });
      function returnVal() {
        if (
          document.getElementById("passwordOne").value !=
          document.getElementById("passwordTwo").value
        ) {
          document.getElementById("passMessage").innerHTML =
            "Passwords Need to Match!";
          return false;
        } else {
          document.getElementById("passMessage").innerHTML = "";
        }
        if (count == 1) {
          return true;
        } else {
          return false;
        }
      }
    </script>
  </body>
</html>
